@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #3D0E1E;
  font: {
    family: 'Noto Sans JP', sans-serif;
    size: 1.4rem;
  }
}