@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@import '_variable';

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-text;
  font: {
    family: 'Noto Sans JP', sans-serif;
    size: 1.4rem;
  }
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.content {
  &-wrapper {
    padding: 10px;
  }
  &-playing-screen {
    body[data-script-enabled="true"] & {
      display: none;
    }
    margin-top: 20px;
  }
  &-customer-img-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
  }
  &-customer-img {
    background: $color-white;
    text-align: center;
    margin-right: 20px;
  }
  &-order-img {
    background: lighten($color-orange, 20%);
    border-radius: 50%;
    width: 170px;
    margin-right: 20px;
    padding: 10px;
  }
  &-order-ingredients {
    display: flex;
    flex-wrap: wrap;
    background: $color-orange;
    border-radius: 4px;
    width: 500px;
    margin: 20px auto 0;
    padding-bottom: 10px;
    .panel-ingredients {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 120px;
      box-shadow: inset 0 0 4px rgba($color-gray, .8);
      padding: 10px 0 0 10px;
      &:nth-child(4n) {
        padding-right: 10px;
      }
      &-inner {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient($color-white 100%, $color-gray 0%);
        box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
        border: {
          bottom: solid 2px #b5b5b5;
          radius: 50%;
        }
        width: 100px;
        height: 100px;
        padding: 10px;
        img {
          height: 80px;
        }
      }
      &.is-active {
        .panel-ingredients-inner {
          background: $color-gray;
        }
      }
    }
  }
}

.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-balloon {
    position: relative;
    background: lighten($color-orange, 15%);
    border-radius: 50px;
    text-align: center;
    width: 80%;
    margin: 0 auto 30px;
    padding: 10px;
    &::before {
      content: '';
      position: absolute;
      bottom: -40px;
      right: 50%;
      transform: translateX(50%);
      border: 20px solid transparent {
        top: 20px solid lighten($color-orange, 15%)
      }
    }
  }
  &-order {
    font: {
      size: 2rem;
      weight: bold;
    }
  }
}

.btn {
  &-start {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background: $color-red;
    border: none {
      radius: 4px;
    }
    box-shadow: 0 4px 0 0 darken($color-red, 10%);
    color: $color-white;
    margin-top: 20px;
    padding: 5px 10px;
    &:active {
      bottom: -1px;
    }
  }
  &-complete {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background: $color-lblue;
    border: none {
      radius: 4px;
    }
    box-shadow: 0 4px 0 0 darken($color-lblue, 10%);
    color: $color-white;
    font: {
      size: 2rem;
      weight: bold;
    }
    margin-top: 20px;
    padding: 5px 20px;
    &:active {
      bottom: -1px;
    }
  }
}
